{% extends 'admin/NavDash.html.twig' %}

{% block title %}Produit index{% endblock %}

{% block body %}
    <h1>Produit index</h1>
<div class="row" style="display: flex;align-items: center;justify-content: center;margin-top: 150px;">
    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">

                <table border="1">
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prix</th>
                <th>Qte</th>
                <th>Description</th>
                <th>user</th>
                <th>Image</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>


        <div align="Right">
            {{ form_start(formsearch,{'attr': {'novalidate': 'novalidate'}} ) }}
            {{ form_widget(formsearch.nom,{'class':'form-control'},)}}
            {{ form_widget(formsearch.Search, {'attr': {'placeholder': 'REGISTER','class':'btn btn-primary' }})}}
            {{ form_end(formsearch) }}
        </div>


        {% for produit in produits %}
            <tr>
                <td>{{ produit.id }}</td>
                <td>{{ produit.nom }}</td>
                <td>{{ produit.prix }} DT</td>
                <td>{{ produit.qte }}</td>
                <td>{{ produit.description }}</td>
                <td>{{ produit.user.username}}</td>
                <td><img src="{{asset('/adminAssets/img/')~ produit.image  }}"
                    alt="" style="width: 200px; height: 150px"></td>
                <td>
                    <a class="btn btn-success" href="{{ path('app_produit_show', {'id': produit.id}) }}">show</a>
                    <a class="btn btn-warning" href="{{ path('app_produit_edit', {'id': produit.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-success" href="{{ path('app_produit_new') }}">Create new</a>

{% endblock %}