{% extends 'admin/NavDash.html.twig' %}

{% block title %}New Produit{% endblock %}

{% block body %}
    <h1>Create new Produit</h1>
<div class="row" style="display: flex;align-items: center;justify-content: center;margin-top: 150px;">
    <div class="col-lg-5">
        <div class="card">
            <div class="card-body">

                <h3 >Ajouter des Poduits</h3>
                {{ form_start(form,{attr:{novalidate:'novalidate'}}) }}
                <label for="inputText" class="col-sm-4 col-form-label">nom</label>
                <div class="col-sm-6">
                    {{ form_widget(form.nom,{'attr':{'class':'form-control'}}) }}

                </div>
                <label for="inputText" class="col-sm-4 col-form-label">prix</label>
                <div class="col-sm-6">
                    {{ form_widget(form.prix,{'attr':{'class':'form-control'}}) }}

                </div>
                <label for="inputText" class="col-sm-4 col-form-label">Quantité</label>
                <div class="col-sm-6">
                    {{ form_widget(form.qte,{'attr':{'class':'form-control'}}) }}

                </div>
                <label for="inputText" class="col-sm-4 col-form-label">Description</label>
                <div class="col-sm-6">
                    {{ form_widget(form.description,{'attr':{'class':'form-control'}}) }}

                </div>
                <label for="inputText" class="col-sm-4 col-form-label">Image</label>
                <div class="col-sm-6">
                    {{ form_widget(form.image   ,{'attr':{'class':'form-control'}}) }}

                </div>
                <br>
                <br>
    {{ include('produit/_form.html.twig') }}
<br>
    <a class="btn btn-success" href="{{ path('app_produit_index') }}">back to list</a>
{% endblock %}
