{% extends 'admin/NavDash.html.twig' %}

{% block title %}Hello JoueurController!{% endblock %}

{% block body %}

<div style="display:flex;align-items: center;justify-content: center;margin-top: 150px;">
    <!-- jquery validation -->
    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">Ajouter un joueur   <small>Session Admin</small></h3>
            {{ form_start(form,{attr:{novalidate:'novalidate'}}) }}
        </div>
        <!-- /.card-header -->
        <!-- form start -->
        <form id="quickForm" novalidate="novalidate">
            <div class="card-body">
                <div class="form-group">
                    <label for="exampleInputEmail1">Nom de joueur</label>
                    {{ form_widget(form.nom,{'attr':{'class':'form-control'}}) }}
                    {{ form_errors(form.nom,{'attr':{'class':'form-control'}}) }}
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Prénom de joueur</label>
                    {{ form_widget(form.prenom,{'attr':{'class':'form-control'}}) }}
                    {{ form_errors(form.prenom,{'attr':{'class':'form-control'}}) }}
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Poste</label>
                    {{ form_widget(form.poste,{'attr':{'class':'form-control'}}) }}
                    {{ form_errors(form.poste,{'attr':{'class':'form-control'}}) }}
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Téléphone</label>
                    {{ form_widget(form.tel,{'attr':{'class':'form-control'}}) }}
                    {{ form_errors(form.tel,{'attr':{'class':'form-control'}}) }}
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Equipe</label>
                    <!--<select id="select_equipe"></select>-->
                    {{ form_widget(form.equipe,{'attr':{'class':'form-control'}}) }}
                    {{ form_errors(form.equipe,{'attr':{'class':'form-control'}}) }}
                </div>

            </div>
            <!-- /.card-body -->
            <div class="card-footer">
                {{ form_widget(form.ajouter,{'attr':{'class':'btn btn-primary'}}) }}
            </div>
            {{ form_end(form) }}
        </form>
    </div>
    <!-- /.card -->
</div>

{% endblock %}
