{% extends 'admin/NavDash.html.twig' %}

{% block title %}Hello EquipeController!{% endblock %}


{% block body %}

<div style="position : absolute;margin-left:17%;width:83%; height: auto;">  <!-- jquery validation -->
    <!-- jquery validation -->
    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">Ajouter un equipe   <small>Session Admin</small></h3>
            {{ form_start(form,{attr:{novalidate:'novalidate'}}) }}
        </div>
        <!-- /.card-header -->
        <!-- form start -->
        <form id="quickForm" novalidate="novalidate">
            <div class="card-body">
                <div class="form-group">
                    <label for="exampleInputEmail1">Nom de l'équipe</label>
                    {{ form_widget(form.nom,{'attr':{'class':'form-control'}}) }}
                    {{ form_errors(form.nom,{'attr':{'class':'form-control'}}) }}
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Classement</label>
                    {{ form_widget(form.classement,{'attr':{'class':'form-control'}}) }}
                    {{ form_errors(form.classement,{'attr':{'class':'form-control'}}) }}
                </div>

            </div>
            <!-- /.card-body -->
            <div class="card-footer">
                {{ form_widget(form.ajouter,{'attr':{'class':'btn btn-primary'}}) }}
            </div>
            {{ form_end(form) }}
        </form>
    </div>
    <!-- /.card -->
</div>

{% endblock %}
