<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Admin Dashborad{% endblock %}</title>
       
        {% block stylesheets %}
  <!-- Google Font: Source Sans Pro -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="{{asset("adminAssets/plugins/fontawesome-free/css/all.min.css")}}">
  <!-- Ionicons -->
  <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <!-- Tempusdominus Bootstrap 4 -->
  <link rel="stylesheet" href="{{asset("adminAssets/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css")}}">
  <!-- iCheck -->
  <link rel="stylesheet" href="{{asset("adminAssets/plugins/icheck-bootstrap/icheck-bootstrap.min.css")}}">
  <!-- JQVMap -->
  <link rel="stylesheet" href="{{asset("adminAssets/plugins/jqvmap/jqvmap.min.css")}}">
  <!-- Theme style -->
  <link rel="stylesheet" href="{{asset("adminAssets/css/adminlte.min.css")}}">
  <!-- overlayScrollbars -->
  <link rel="stylesheet" href="{{asset("adminAssets/plugins/overlayScrollbars/css/OverlayScrollbars.min.css")}}">
  <!-- Daterange picker -->
  <link rel="stylesheet" href="{{asset("adminAssets/plugins/daterangepicker/daterangepicker.css")}}">
  <!-- summernote -->
  <link rel="stylesheet" href="{{asset("adminAssets/plugins/summernote/summernote-bs4.min.css")}}">

<!--flashy -->
      <link rel="stylesheet" href="{{asset("bundles/mercuryseriesflashy/css/flashy.css")}}">

  <script type="text/javascript" src="https://cdn.weglot.com/weglot.min.js"></script>
  <script>
      Weglot.initialize({
          api_key: 'wg_57f6c3f52c348140124c9e00af5a720e6'
      });
  </script>


  <link rel="stylesheet" href="{{ asset('bundles/mercuryseriesflashy/css/flashy.css') }}">


        {% endblock %}
    </head>
    <body class="hold-transition dark-mode ">
       <div class="wrapper">

  <!-- Preloader -->
  <div class="preloader flex-column justify-content-center align-items-center">
    <img class="animation__shake" src="{{asset("adminAssets/img/tunikoora.png")}}" alt="tunikooraLogo" height="180" width="180">
  </div>

  



  <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-light-primary elevation-4">
    <!-- Brand Logo -->
    <a href="{{path('app_home')}}" class="brand-link">
      <img src="{{asset("adminAssets/img/tunikoora.png")}}" alt="tunikooraLogo" class="brand-image img-circle elevation-3" style="opacity: .8">
      <span class="brand-text font-weight-light">Tunikoora</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <img src="{{asset("adminAssets/img/user2-160x160.jpg")}}" class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
          <a href="#" class="d-block">Mohamed Dhahbi</a>
        </div>
      </div>

      <!-- SidebarSearch Form -->
      <div class="form-inline">
        <div class="input-group" data-widget="sidebar-search">
          <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
          <div class="input-group-append">
            <button class="btn btn-sidebar">
              <i class="fas fa-search fa-fw"></i>
            </button>
          </div>
        </div>
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
          <li class="nav-item menu-open">
            <a href="#" class="nav-link active">
              <i class="nav-icon fas fa-tachometer-alt"></i>
              <p>
                Dashboard
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="{{ path('display_equipe') }}" class="nav-link active">
                  <i class="ion-ios-people"></i>
                  <p>Equipe</p>
                </a>
              </li>
              <li class="nav-item">

                <a href="display_article" class="nav-link">
                  <i class="ion-ios-bookmarks"></i>
                  <p>Article</p>

                <a href="{{ path('display_joueur') }}" class="nav-link">
                  <i class="ion-ios-football"></i>
                  <p>Joueur</p>

                </a>
              </li>
              <li class="nav-item">
                <a href="displayReviewBack" class="nav-link">
                  <i class="ion-ios-chatboxes"></i>
                  <p>Review</p>
                </a>
              </li>
            <li class="nav-item">
  <a href="{{ path('app_produit_index') }}" class="nav-link">
    <i class="ion-ios-cart"></i>
    <p>Produit</p>
  </a>
</li>

<li class="nav-item">
  <a href="{{ path('app_ticket_contriller_index') }}" class="nav-link">
    <i class="ion-card"></i>
    <p>ticket</p>
  </a>
</li>


<li class="nav-item">
  <a href="{{ path('display_livraison') }}" class="nav-link">
    <i class="ion-ios-pricetags"></i>
    <p>Livraisons</p>
  </a>
</li>


<li class="nav-item">
  <a href="{{ path('display_livreur') }}" class="nav-link">
    <i class="ion-ios-body"></i>
    <p>Livreur</p>
  </a>
</li>


<li class="nav-item">
  <a href="{{ path('app_participation') }}" class="nav-link">
    <i class="ion-clipboard"></i>
    <p>Participation</p>
  </a>
</li>


<li class="nav-item">
  <a href="{{ path('app_matchtb') }}" class="nav-link">
    <i class="ion-trophy"></i>
    <p>Match</p>
  </a>
</li>


<li class="nav-item">
  <a href="{{ path('utilisateurs') }}" class="nav-link">
    <i class="ion-person-stalker"></i>
    <p>Utilisateurs</p>
  </a>
</li>
            </ul>
          </li>
        
       
            
       
        
          <li class="nav-item">
            <a href="{{ path('app_logout')}}" class="nav-link">
              <i class="ion-log-out"></i>&nbsp;
              <p>Déconnexion</p>
            </a>
          </li>
       
       
         
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>

 
 

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->


   {% for message in app.flashes('success') %}
    <div class="alert alert-success">
    {{ message }}
    </div>
   {% endfor %}
        {% block body %}{% endblock %}
    
   <!-- /.content-wrapper -->
  

 

 {% block javascripts %}
            <!-- jQuery -->
<script src="{{asset("adminAssets/plugins/jquery/jquery.min.js")}}"></script>
<!-- jQuery UI 1.11.4 -->
<script src="{{asset("adminAssets/plugins/jquery-ui/jquery-ui.min.js")}}"></script>
<!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
<script>
  $.widget.bridge('uibutton', $.ui.button)
</script>
<!-- Bootstrap 4 -->
<script src="{{asset("adminAssets/plugins/bootstrap/js/bootstrap.bundle.min.js")}}"></script>
<!-- ChartJS -->
<script src="{{asset("adminAssets/plugins/chart.js/Chart.min.js")}}"></script>
<!-- Sparkline -->
<script src="{{asset("adminAssets/plugins/sparklines/sparkline.js")}}"></script>
<!-- JQVMap -->
<script src="{{asset("adminAssets/plugins/jqvmap/jquery.vmap.min.js")}}"></script>
<script src="{{asset("adminAssets/plugins/jqvmap/maps/jquery.vmap.usa.js")}}"></script>
<!-- jQuery Knob Chart -->
<script src="{{asset("adminAssets/plugins/jquery-knob/jquery.knob.min.js")}}"></script>
<!-- daterangepicker -->
<script src="{{asset("adminAssets/plugins/moment/moment.min.js")}}"></script>
<script src="{{asset("adminAssets/plugins/daterangepicker/daterangepicker.js")}}"></script>
<!-- Tempusdominus Bootstrap 4 -->
<script src="{{asset("adminAssets/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js")}}"></script>
<!-- Summernote -->
<script src="{{asset("adminAssets/plugins/summernote/summernote-bs4.min.js")}}"></script>
<!-- overlayScrollbars -->
<script src="{{asset("adminAssets/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js")}}"></script>
<!-- AdminLTE App -->
<script src="{{asset("adminAssets/js/adminlte.js")}}"></script>
<!-- AdminLTE for demo purposes -->
<script src="{{asset("adminAssets/js/demo.js")}}"></script>
<!-- AdminLTE dashboard demo (This is only for demo purposes) -->
<script src="{{asset("adminAssets/js/pages/dashboard.js")}}"></script>


<script src="{{asset("bundles/mercuryseriesflashy/jd/flashy.js")}}"></script>
<script async
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAdxGJpqa5_9CdQ4zUlWw2XazA96mRRxpw&callback=initMap">
</script>

        {% endblock %}   
    {#   {{include('@mercurySeriesFlashy/flashy.html.twig')}}#}

<script src="//code.jquery.com/jquery.js"></script>
    <!-- Load Flashy default JavaScript -->
    <script src="{{ asset('bundles/mercuryseriesflashy/js/flashy.js') }}"></script>
    <!-- Include Flashy default partial -->
 
           {{ include('@MercurySeriesFlashy/flashy.html.twig') }}

    </body>
</html>
