{% extends 'home/index.html.twig' %}

{% block title %}Produit{% endblock %}

{% block body %}
    <h1>Produit</h1>
<div class="row" style="display: flex;align-items: center;justify-content: center;margin-top: 150px;">
    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">

                <table border="1">
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ produit.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ produit.nom }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ produit.prix }} DT</td>
            </tr>
            <tr>
                <th>Qte</th>
                <td>{{ produit.qte }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ produit.description }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td><img src="{{asset('/adminAssets/img/')~ produit.image  }}"
                         alt="" style="width: 200px; height: 150px"></td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-success" href="{{ path('app_prod_index') }}">back to list</a>

    <a href="" class="btn btn-success">Panier</a>


{% endblock %}
