<!DOCTYPE html>
<html lang="en">

<head>
    <title>Soccer &mdash; Website by Colorlib</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="fonts/icomoon/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.0/css/bootstrap.min.css" integrity="sha384-SI27wrMjH3ZZ89r4o+fGIJtnzkAnFs3E4qz9DIYioCQ5l9Rd/7UAa8DHcaL8jkWt" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.2/jquery.rateyo.min.css">

    <link rel="stylesheet" href="{{asset("assets/css/bootstrap/bootstrap.css")}}">
    <link rel="stylesheet" href="{{asset("assets/css/jquery-ui.css")}}">
    <link rel="stylesheet" href="{{asset("assets/css/owl.carousel.min.css")}}">
    <link rel="stylesheet" href="{{asset("assets/css/owl.theme.default.min.css")}}">
    <link rel="stylesheet" href="{{asset("assets/css/owl.theme.default.min.css")}}">

    <link rel="stylesheet" href="{{asset("assets/css/jquery.fancybox.min.css")}}">

    <link rel="stylesheet" href="{{asset("assets/css/bootstrap-datepicker.css")}}">

    <link rel="stylesheet" href="{{asset("assets/fonts/flaticon/font/flaticon.css")}}">

    <link rel="stylesheet" href="{{asset("assets/css/aos.css")}}">

    <link rel="stylesheet" href="{{asset("assets/css/style.css")}}">




</head>

<body>

<div class="site-wrap">

    <div class="site-mobile-menu site-navbar-target">
        <div class="site-mobile-menu-header">
            <div class="site-mobile-menu-close">
                <span class="icon-close2 js-menu-toggle"></span>
            </div>
        </div>
        <div class="site-mobile-menu-body"></div>
    </div>


    <header class="site-navbar py-4" role="banner">

        <div class="container">
            <div class="d-flex align-items-center">
                <div class="site-logo">
                    <a href="index.html">
                        <!-- <img src="{{asset("adminAssets/img/tunikoora.png")}}" alt="Logo">-->
                    </a>
                </div>
                <div class="ml-auto">
                    <nav class="site-navigation position-relative text-right" role="navigation">
              <ul class="site-menu main-menu js-clone-nav mr-auto d-none d-lg-block">
                <li><a href="{{path('app_home')}}" class="nav-link">Home</a></li>
               

                <li ><a href="display" class="nav-link">Blog</a></li>


              
                <li><a href="{{path('app_prod_index')}}" class="nav-link">produit</a></li>
                <li  {% if app.request.get('_route') == 'app_tck_index' %} class="active"{% endif %}><a href="{{path('app_tck_index')}}" class="nav-link">ticket</a></li>

                
                  {% if is_granted('ROLE_ADMIN') %}
                  <li><a href="{{path('app_dashboard')}}" class="nav-link">Dash</a></li>
                  <li><a href="{{ path('view_joueur') }}" class="nav-link">Joueurs</a></li>

                  {% endif %}
                   {%if not app.user%}
                   <li><a href="{{ path('view_joueur') }}" class="nav-link">Joueurs</a></li>

                 <li><a href="{{path('app_register')}}" class="nav-link">Inscription</a></li>
                  <li><a href="{{path('app_login')}}" class="nav-link">Connexion</a></li>
                  {% else %}
                   <li{% if app.request.get('_route') == 'app_profile' %} class="active"{% endif %}><a href="{{path('app_profile')}}" class="nav-link">Profile</a></li>

                    <li><a href="{{path('app_message')}}" class="nav-link">Msg</a></li>
                 
                  <li><a href="{{path('app_logout')}}" class="nav-link">Déconnexion</a></li>

                  

                  {% endif %}
              </ul>
            </nav>


                    <a href="#" class="d-inline-block d-lg-none site-menu-toggle js-menu-toggle text-black float-right text-white"><span
                                class="icon-menu h3 text-white"></span></a>
                </div>
            </div>
        </div>

    </header>

    <div class="hero overlay" style="background-image: url('assets/images/bg_3.jpg');">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div >
                    <br><br><br><br>
                            <h1>Pages des articles</h1>
                            <section class="articles mt-5">
                                <article >
                                    <h2 class="title">Titre</h2><p>{{  article.titre}}</p>
                                    <h2>Date de publication</h2><p>{{ article.date | date('m-d-Y')}} at {{ article.date | date('H:i')}}</p>
                                    {% if app.user %}
                                    <h2>Article publier par Mr:<span class="badge badge-success"><strong>{{ app.user ? app.user.username }}</strong></span></h2>
                                    {% endif %}



                                    <div class ="content">
                            <img src="{{asset('/adminAssets/img/')~ article.image  }}" alt="" style="width: 200px; height: 150px">
                            <h3>Description</h3><p>{{ article.description }}</p>
                            <div class="rateyo" id= "rating"
                                 data-rateyo-rating="0"
                                 data-rateyo-num-stars="5"
                                 data-rateyo-score="3">
                            </div>
                            <span class='result'></span>
                            <input type="hidden" name="rating">
                        </div>
                        </article>
                        </section>
                        {% if app.user %}
                        <div>

                            {{ form_start(review,{attr:{novalidate:'novalidate'}}) }}
                            <h3 class="mt-5 mb-5">Comments</h3>
                            <section id ="comments">
                                {% for comment in article.comment %}
                                    <div class ="comment">
                                        <p>{{comment.commentaire}} </p>
                                    </div>
                                {% endfor %}
                                <h3 >Ajouter votre commentaires</h3>

                                <div class="form-group">
                                    {{ form_widget(review.commentaire,{'attr':{'class':'form-control'}}) }}
                                    {{ form_errors(review.commentaire,{'attr':{'class':'form-control'}}) }}
                                </div>
                                <div class="card-footer">
                                    {{ form_widget(review.ajouter,{'attr':{'class':'btn btn-primary'}}) }}
                                </div>
                                {{ form_end(review) }}
                            </section>
                        </div>
                        </div>
                    </div>
                {% endif %}





</div>
<!-- .site-wrap -->

<script src="{{asset("assets/js/jquery-3.3.1.min.js")}}"></script>
<script src="{{asset("assets/js/jquery-migrate-3.0.1.min.js")}}"></script>
<script src="{{asset("assets/js/jquery-ui.js")}}"></script>
<script src="{{asset("assets/js/popper.min.js")}}"></script>
<script src="{{asset("assets/js/bootstrap.min.js")}}"></script>
<script src="{{asset("assets/js/owl.carousel.min.js")}}"></script>
<script src="{{asset("assets/js/jquery.stellar.min.js")}}"></script>
<script src="{{asset("assets/js/jquery.countdown.min.js")}}"></script>
<script src="{{asset("assets/js/bootstrap-datepicker.min.js")}}"></script>
<script src="{{asset("assets/js/jquery.easing.1.3.js")}}"></script>
<script src="{{asset("assets/js/aos.js")}}"></script>
<script src="{{asset("assets/js/jquery.fancybox.min.js")}}"></script>
<script src="{{asset("jassets/s/jquery.sticky.js")}}"></script>
<script src="{{asset("assets/js/jquery.mb.YTPlayer.min.js")}}"></script>



<script src="js/main.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.2/jquery.rateyo.min.js"></script>
            <script>


                $(function () {
                    $(".rateyo").rateYo().on("rateyo.change", function (e, data) {
                        var rating = data.rating;
                        $(this).parent().find('.score').text('score :'+ $(this).attr('data-rateyo-score'));
                        $(this).parent().find('.result').text('rating :'+ rating);
                        $(this).parent().find('input[name=rating]').val(rating); //add rating value to input field
                    });
                });

            </script>

</body>

</html>